/* COLOURS

OFF BLACK - #080808
OFF WHITE - #f3f3f3
GREY - #dfdfdf
LIGHT GREY - #9f9e9c
DARK GREY - #322e2d
BLUE - #3d70bf

*/

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
